body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
  }
  
  form {
    max-width: 300px;
    margin: 40px auto;
    padding: 50px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
  }
  
  button[type="button"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button[type="button"]:hover {
    background-color: #3e8e41;
  }
  
  #res {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
  }
  
  #icon {
    width: 50px;
    height: 50px;
    margin: 20px;
  }